*{
  box-sizing: border-box;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
}
h2{
  font-family: 'Pacifico', cursive;
}
div.logo{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
div.login-body{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.input-row{
  background-color: #fff;
  border-radius: 5px
}
form.login-form{
  width: 40%;
}
