.profile-wrapper{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: grey;
  position: relative;
}
.profile-container{
  width: 80%;
  /*display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;*/
  background-color: #fff;
  min-height: 100vh;
}
.profile-images{
  width: 100%;
  /*display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;*/
}
.profile-image-wrapper{
  /*display: inline;
  height: 300px;
  width: 300px;
  border: 2px solid #607d8b;
  margin-bottom: 30px;
  background-color: blue;*/
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 300px;
  width: 300px;
  border: 2px solid #607d8b;
  margin: 20px;
}
.profile-info{
  min-height: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.profile-pic{
  height: 150px;
  width: 150px;
  border-radius: 100%;
  position: relative;
}
.profile-text{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.upload-wrapper{
  min-height: calc(100vh - 65px) ;
  width: 100%;
  background: rgba(0, 0, 0, .6);
  z-index: 888;
  position: fixed;
  left: 0;
  /*display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;*/
}
.upload{
  height: 400px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.exit-icon{
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
}
.edit-icon{
  position: absolute;
  bottom: 0;
  right: 0;
}
