.timeline-image{
  height: 400px;
  width: 600px;
}
.logo{
  font-family: 'Pacifico', cursive;
}
.nav-wrapper{
  padding: 0px 60px 0px 100px;
}
.post-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}
.post{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border: 2px solid #607d8b;
  padding-bottom: 20px;
}
.username{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #bdbdbd;
  height: 60px;
  align-items: center;
  padding-left: 20px;
}
.image-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 400px;
  width: 600px;
}
.fixed-button{
  position: fixed;
  bottom: 5%;
  right: 5%;
}
.comment-input{
  border-top: 1px solid #bdbdbd;
  width: 95%;
  margin-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
}
.post-content{
  width: 95%;
  padding-left: 30px;
  padding-top: 10px;
}
.caption{
  font-size: 17px;
  font-weight: bold;
}
.comment-user{
  font-weight: 600;
}
.comment-content{
  font-size: 15px;
}
.select-branch{
  position: fixed;
  top: 10%;
  right: 5%;
  width: 10%;
  z-index: 999;
}
.small-prof-pic{
  height: 50px;
  width: 50px;
  border-radius: 100%;
}
/*.go-back{
  font-size: 11px;
}*/
