<nav-dir></nav-dir>
<div class='post-wrapper'>
  <div class='post z-depth-3' ng-repeat='post in posts'>
    <div class='username'>
      <h6>{{post.branch_name}}/{{post.username}}</h6>
    </div>
    <img class='timeline-image' ng-src='{{post.post_url}}' />
    <div class='post-content'>
      <i class="small material-icons" ng-click='updateLikes(post.like_count, post.post_id)'>thumb_up</i><br />
      {{post.like_count}} likes
      <p class='caption'>
        {{post.caption}}
      </p>
      <div ng-repeat='comment in post.comments'>
        <span class='comment-user'> {{comment.username}} </span> <span class='comment-content'>{{comment.comment_text}}</span>
      </div>
    </div>
    <div class='comment-input'>
      <input placeholder='Add Comment' type='text' ng-model='commentText'></input>
      <a ng-click='addComment(commentText, post.post_id)' class="waves-effect waves-light btn blue-grey">Add Comment</a>
    </div>
  </div>
  <a ng-click='goPost()' class="btn-floating btn-large waves-effect waves-light blue-grey fixed-button"><i class="material-icons">add</i></a>
</div>
