<div class='navbar-fixed'>
  <nav>
     <div class="nav-wrapper #bdbdbd grey lighten-1">
       <a href="#" class="brand-logo logo">FamGram</a>
       <ul id="nav-mobile" class="right hide-on-med-and-down">
         <li><a ui-sref="profile({id: {{id}}})">Profile</a></li>
         <li><a href="badges.html">Branch Page</a></li>
         <li><a href="collapsible.html">Where Are We?</a></li>
       </ul>
     </div>
   </nav>
</div>
<div class='row post-wrapper'>
  <div class='post z-depth-3' ng-repeat='post in posts | filter:branch_selected | orderBy: "-post_id"'>
    <div class='username'>
      <h6>{{post.branch_name}}/{{post.username}}</h6>
    </div>
    <div class='image-wrapper'>
      <img class='timeline-image' ng-src='{{post.post_url}}' />
    </div>
    <div class='post-content'>
      <i class="small material-icons grey-text text-darken-1" ng-click='updateLikes(post.like_count, post.post_id)'>thumb_up</i><br />
      {{post.like_count}} likes
      <p class='caption'>
        {{post.caption}}
      </p>
      <div ng-repeat='comment in post.comments'>
        <span class='comment-user'> {{comment.username}} </span> <span class='comment-content'>{{comment.comment_text}}</span>
      </div>
    </div>
    <div class='comment-input'>
      <input placeholder='Add Comment' type='text' ng-model='commentText'></input>
      <a ng-click='addComment(commentText, post.post_id)' class="waves-effect waves-light btn blue-grey">Add Comment</a>
    </div>
  </div>

    <a ng-click='goPost()' class="btn-floating btn-large waves-effect waves-light blue-grey fixed-button"><i class="material-icons">add</i></a>
    <!-- <div input-field class='select-branch'> -->
      <select class='select-branch' ng-model="branch_selected" id='branch' type='branch' class='validate' material-select watch>
        <option  ng-repeat="branch in branches">{{branch.branch_name}}</option>
      </select>
      <label for='branch'>Branch</label>
    <!-- </div> -->


  </div>
