<div class="row">
    <form class="col s12 l6">
      <div class="row">
        <div class="input-field col s6">
          <input ng-model='user.first_name' id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input ng-model='user.last_name' id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input ng-model='user.username' id="username" type="text" class="validate">
          <label for="username">Username</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input ng-model='user.password' id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input ng-model='user.email' id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <div input-field>
            <select class="" ng-model="user.branch_name" material-select watch>
              <option ng-repeat="branch in branches">{{branch.branch_name}}</option>
            </select>
          </div>
        </div>
      </div>
      <a ng-click='createUser(user)' class="waves-effect waves-light btn">button</a>
    </form>
  </div>
