<div class='upload-wrapper row valign-wrapper'>
  <div class='exit col s12 m2 l2'>
    <a ui-sref='profile({id: post.user_id})'><img class='exit-icon' src='https://cdn2.iconfinder.com/data/icons/media-and-navigation-buttons-round/512/Button_12-512.png' /></a>
  </div>





  <div class='upload col s12 m8 l8 center-align'>
    <div class='post'>
      <div class='single-image' style='background: url("{{post.post_url}}") center center; background-size: cover;'>
        <!-- <img class='timeline-image' ng-src='{{post.post_url}}' /> -->
      </div>

    </div>
  </div>






  <div class='col s12 m2 l2'>

  </div>
</div>
